body, html {
	margin: 0px;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul li {
	display: inline-block;
}

nav a {
	color: black;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

